:root{
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
    --background-color: #ecf0f1;
    --text-color: #2c3e50;
}
body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
header {
    display: flex;
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    align-items: center;
}
.logocontainer {
    align-items: flex-start;
    gap: 10px;
}
.logo {
    width: 50px;
    height: 50px;
}
nav {
    margin-left: auto;
}
nav, ul{
    display: flex;
    flex-direction: row;
    color: white;
    gap: 30px;
}

li, a{
    justify-content: flex-end;
    color: white;
    text-decoration: none;
    list-style: none;
}
.hero {
    justify-content: center;
    text-align: center;
    margin: 50px 0 0 0 ;
    padding: 100px;
}
.products {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    padding-bottom: 200px;
}
.product-card {
    background-color: white;
    border: 1px solid #bdc3c7;
    border-radius: 5px;
    width: 400px;
    height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;

}
.product-image, img{
    width: 150px;
    height:150px;
    align-self: center;
}

.product-info {
    margin: 5px 0 0 0 ;
    display: flex;
    flex-direction: column;
    align-items: start;
}
p {
    margin: 5px 0;
}
.product-card button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 100%;
}
.features {
    width: 100%;
    background-color: var(--background-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 100px 0 100px 0;
}
.feature-card {
    width: 300px;
    height: 150px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
